body {
    background: #f7f7f7;
    margin: 0;
    font-family: Arial, sans-serif;
}

.auth-container {
    width: 400px;
    background: #fff;
    padding: 40px;
    border-radius: 8px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
    margin: 0;
}

h2 {
    text-align: center;
    margin-bottom: 25px;
    color: #e4002b;
}

.field {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 6px;
    color: #222;
}

input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 12px;
    background: #e4002b;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background: #c70024;
}

.link {
    text-align: center;
    margin-top: 15px;
}

.link a {
    color: #e4002b;
    text-decoration: none;
}
.error {
    display: none;
}

.errortrue {
    display: block;
    color: red;
    font-size: 14px;
    margin-top: 5px;
}